.hamburger-menu {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
  }
  
  .hamburger-icon {
    font-size: 1.5rem;
    padding: 10px;
  }
  
  .menu-text {
    white-space: nowrap;
    padding-left: 10px;
    color: black;
    font-weight: 500;
    position: absolute;
    top:8px;
    left:2rem;
  }
  
  .hamburger-menu.expanded {
    position:relative;
    width: 12rem;
  }