.navbar{
    background-color: #5a90abde;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}