@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind utilities;

@font-face {
  font-family: woff1;
  src: url(./assets/file1.woff2);
}
@font-face {
  font-family: woff2;
  src: url(./assets/file2.woff2);
}
@font-face {
  font-family: woff3;
  src: url(./assets/file3.woff2);
}
@font-face {
  font-family: woff4;
  src: url(./assets/file4.woff2);
}
@font-face {
  font-family: woff5;
  src: url(./assets/file5.woff2);
}
@font-face {
  font-family: woff6;
  src: url(./assets/file6.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --theme: #6F9EB6;
}

input {
  font-family: "Montserrat", sans-serif;
}